<div class="text-center mb-4">
  <h1 class="text-3xl sm:text-5xl font-extrabold text-gray-800">WITS-WPGAPP</h1>
</div>

<div class="mb-8 text-center">
  <p *ngIf="name" class="text-lg sm:text-xl text-gray-600">
    Hi, {{ name }}
  </p>
  <p class="text-lg sm:text-xl text-gray-600">
    {{ motd }}
  </p>
</div>

<app-hold-button [buttonText]="checkButtonText" (clicked)="check()"></app-hold-button>

<!-- last check time-->
<div *ngIf="lastCheckTime" class="text-center text-gray-600 mb-4">
  Last Check: {{ lastCheckTime | date: 'short' }}

  {{errorMessage}}
  <div *ngIf="errorMessage" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4"
       role="alert">
    <strong class="font-bold">Error!</strong>
    <span class="block sm:inline">{{ errorMessage }}</span>
  </div>

  <div class="w-full max-w-3xl grid grid-cols-1 sm:grid-cols-2 gap-4 mb-12">
    <button
      (click)="viewAttendanceRecords()"
      class="w-full bg-white border border-gray-300 text-gray-800 font-medium py-4 px-6 rounded-lg hover:bg-gray-100 transition flex items-center justify-center space-x-3"
    >
      <i class="fas fa-clipboard-list text-gray-800 text-2xl"></i>
      <span>View Attendance Records</span>
    </button>

    <button
      (click)="setName()"
      class="w-full bg-white border border-gray-300 text-gray-800 font-medium py-4 px-6 rounded-lg hover:bg-gray-100 transition flex items-center justify-center space-x-3"
    >
      <i class="fas fa-user-cog text-gray-800 text-2xl"></i>
      <span>Set Name</span>
    </button>

    <button
      (click)="attendanceConverter()"
      class="w-full bg-white border border-gray-300 text-gray-800 font-medium py-4 px-6 rounded-lg hover:bg-gray-100 transition flex items-center justify-center space-x-3"
    >
      <i class="fas fa-user-cog text-gray-800 text-2xl"></i>
      <span>Attendance Converter</span>
    </button>
  </div>
</div>

